    body{
        background: var(--darkbody) ;
    }

    * {
        box-sizing: border-box;
        margin: 0;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    :root {
        --primary: #1b1b1b;
        --secondary: #fff;
        --boxshadow: 5px 10px 40px rgb(141, 141, 141);
        --menuback: #e2e2e2;
        --lia: #2b2b2b;
        --liaback: rgba(99, 99, 99, 0.5);
        --darkbody: #b9b9b9;
        --category: rgb(168, 168, 168);
        --parts:rgb(246, 246, 246);
    }
    
    .dark-mode {
        --primary: #fff;
        --secondary: #1b1b1b;
        --menuback: #1b1b1b;
        --lia: #ffffff;
        --liaback: #2b2b2b;
        --darkimg :  rgb(0, 0, 0, 0.4);
        --boxshadow: 5px 10px 40px #000000;
        --darkbody: rgba(11, 11, 11, 0.5);
        --category: rgb(173, 173, 173);
        --parts: #2b2b2b;
    }
    
    .switch {
        font-size: 20px;
        cursor: pointer;
        color: var(--primary);
    }   
    
    nav {
        position: fixed;
        width: 100%;
        padding: 10px 0;
        z-index: 12;
        background: var(--menuback);
        transition: all 0.3s ease;
    }
    
    nav .menu {
        max-width: 1250px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    nav .logo a {
        font-size: 30px;
        color: var(--lia);
        text-decoration: none;
        font-weight: 600;
    }
    
    .menu ul {
        display: inline-flex;
        padding-left: 500px;
        text-align: right;
    }
    
    .menu ul li {
        list-style: none;
        padding: 1vh;
        margin-left: 7px;
    }
    
    .menu ul li a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        color: var(--lia);
        border-radius: 5px;
        padding: 8px 15px;
        transition: all 0.3s ease;
    }
    
    .menu ul li a:hover {
        background: var(--liaback);
        font-size: 21;
        font-weight: 600;
    }
    
    .background_img {
        width: 100%;
        height: 100vh;
        background: url(../images/homebackground1.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
    }
    
    .background_img::before {
        content: '';
        width: 100%;
        height: 100%;
        background: var(--darkimg);
        position: absolute;
    }

    .offer_text{
        width: 90%;
        height: 50vh;
        background: rgba(99, 99, 99, 0.5);
        border-radius: 3px;
        position:absolute;
        top: 25vh;
        left: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:30px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}

    .offer1{
        width: 20%;
        height: 30vh;
        background: rgba(20, 20, 20, 0.5);
        border-radius: 5px; 
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    .offer1:hover{
        box-shadow:  var(--boxshadow);
    }

    .offer2{
        width: 20%;
        height: 30vh;
        background: rgba(20, 20, 20, 0.5);
        border-radius: 5px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    .offer2:hover{
        box-shadow:  var(--boxshadow);
    }

    .offer3{
        width: 20%;
        height: 30vh;
        background: rgba(20, 20, 20, 0.5);
        border-radius: 5px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    .offer3:hover{
        box-shadow: var(--boxshadow);
    }

    .offer4{
        width: 20%;
        height: 30vh;
        background: rgba(20, 20, 20, 0.5);
        border-radius: 5px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    .offer4:hover{
        box-shadow: var(--boxshadow);
    }

    .available_models{
        width: 95%;
        height: 280vh;
        top: 115vh;
        left:5vh;
        position: absolute;
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
    }

    .model{
        height: 25vh;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .model_img{
        max-width: 170px;
        max-height: 100px;
        cursor: pointer;
    }

    .model p{
        user-select: none;
    }

    .models_title{
        width:45%;
        height: 5vh;
        top: 105vh;
        left: 55vh;
        text-align: center;
        font-size: 30px;
        position: absolute;
    }

    .categories{
        width: 90%;
        height: 80vh;
        background: var(--category);
        top: 400vh;
        left: 10vh;
        position: relative;
        display: flex;
        box-shadow: 2px 20px 70px 30px rgb(69, 68, 68);
        border-radius: 20px;
    }

    .category_list{
        display: grid;
        grid-template-columns: auto auto auto auto;
        position:absolute;
        gap: 10px;
        /* background: red; */
        right: 3vh;
        top: 5%;
    }

    .parts{
        position:relative;
        width: 190px;
        height:35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:var(--parts);
        text-align: center;
        border-radius: 5px;
    }

    .parts img{
        max-width: 190px;
        height: 150px;
        user-select: none;
    }

    .parts:hover{
        cursor: pointer;
        box-shadow: 15px 20px 30px rgb(28, 25, 25);

    }

    .categories p{
        padding: 20px;
    }

    .category_list p{
        color: var(--primary);
    }

    .categories_title{
        width: 30%;
        font-size: 25px;
        text-align: center;
        color:black;
    }

    footer {
        text-align: center;
        top: 500vh;
        position: absolute;
        background-color: var(--secondary);
        color: var(--primary);
        width: 100%;
        height: 25vh;
        display: flex;
      }

      .contact_box{
        width: 20%;
        height: 5vh;
        padding: 10px;
        text-align: start;
      }

      .contact_box h3,p{
        padding:5px
      }

      .contact_box h3{
        color: rgb(254, 152, 0);
      }

      .connect_icons{
        width: 30%;
        height: 70px;
        display: flex;
        align-items: center;
      }

      .connect_icons img{
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }

      footer .connect_icons{
        margin-left:15%;
        margin-top: 1%;
        display: inline-block;
        align-items: center;
      }

      footer .social_media_title{
        width: 100%;
        height: 5vh;
      }

      .social_media_title p{
        font-size: 25px;
      }

      @media screen and (max-width:426px){
        nav{
           width: 100%;
        }

        .offer_text p{
            font-size: 20px;
        }

        .offer_text{
            width: 85%;
            height: 70vh;
            left: 7%;
            top: 15%;
            display: flex;
            flex-direction: column;
        }

        .offer1,.offer2,.offer3,.offer4{
            width: 80%;
            height: 10vh;

        }

        .background_img{
            width: 100%;
        }

        .models_title{
            width: 100%;
            font-size: 18px;
            left: -2%;
            font-weight: 600;
        }

        .available_models{
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 2px;
            top: 130%;
            width: 90%;
            left: 3%;
        }

        .model_img{
            width: 80px;
            height: 65px;
        }

        #volkswagen{
            width: 95px ;
        }

        .categories{
            width: 80%;
            height: 270vh;
            top: 500vh;
            left: 5%;
        }

        .category_list{
            top: 7%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 13%;
        }

        .categories_title{
            width: 80%;
            font-size: 25px;
            text-align: center;
            color:black;
            margin-left: 10%;
        }

      }